<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.despachoferreteriaswernerraddatz">


    <!--Permiso para obtener datos internos del teléfono como IDs-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!--Permiso para acceder al estado de conexión a internet-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DespachoFerreteriasWernerRaddatz">
        <activity android:name=".activityFacturaNomina"></activity>
        <activity
            android:name=".ActivityPrimerUso"
            android:screenOrientation="portrait" /> <!-- definición de pantalla estática -->
        <!-- definición de pantalla estática -->
        <activity
            android:name=".ActivityNomina"
            android:screenOrientation="portrait" /> <!-- definición de pantalla estática -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"> <!-- definición de pantalla estática -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>